@import url("./theme/fonts.css");
@import url("./theme/variables.css");

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body,
#root {
  font-family: "Pretendard", "Noto Sans KR", sans-serif;
  font-weight: 400;
  letter-spacing: -0.015rem;
  min-height: calc(100vh - 70px);
  color: var(--text-primary);
  background: var(--bg-gradient);
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.4;
}

:root {
  /* Color (구) */
  --main-red: #f23a30;
  --main-white: #fff;
  --main-black: #424242;
  --main-gray: #eff0f2;
  --secondary-yellow: #f2d378;
  --secondary-black: #1a1a1c;
  --secondary-pink: #e6b3a4;
  --secondary-gray: #b0b2b5;

  --error-red: #ef4445;
  --hover-gray: #e9ecef;
  --btn-red: rgba(242, 58, 48, 0.9);

  /* 임시 색상 팔레트 */
  --color1: #e69057;
  --color2: #e67757;
  --color3: #e65794;
  --color4: #e6a957;
  --color5: #e6b3a4;
  --color6: #e26264;
  --color-7: #fce8e8;
  --color-8: #f1dcd5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: normal;
  margin: 0;
}

p {
  margin: 0;
}

strong,
em {
  font-weight: inherit;
  font-style: normal;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

dl {
  margin: 0;
}
dd {
  margin: 0;
  display: inline;
}

figure {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

th {
  font-weight: normal;
}

address {
  font-style: inherit;
}

/* 스크린 리더 */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.App {
  min-height: 100vh;
}

.main-content {
  min-height: calc(100vh - 18rem);
}
