.home-page {
  width: 85vw;
  margin: 0 auto;
}

.home-cover {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  min-height: calc(100vh - 70px);
  border-radius: 44px;
  gap: 32px;
  padding-top: 1.75rem;
}

.home-cover-text {
  color: var(--secondary-black);
  text-align: center;
  font-size: 1.7rem;
  font-weight: 600;
  line-height: 1.2em;
  letter-spacing: 0.45em;
  margin-top: 2.4em;
}

.home-cover-text br {
  display: block;
  margin: 18px 0;
  content: "";
}

.home-cover-text span {
  color: var(--main-red);
  font-weight: 700;
  letter-spacing: 0.2em;
  font-size: 2.4rem;
}

.home-btn-wrapper {
  display: flex;
  flex-direction: row;
  gap: 100px;
  margin-top: 40px;
}

.home-rec-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 4px solid var(--main-black);
  padding: 2rem 10rem;
  border-radius: 44px;
  cursor: pointer;
}

.home-rec-wrapper:hover {
  border: 4px solid var(--main-red);
}

.home-rec-wrapper button {
  cursor: pointer;
}

.home-img {
  height: 224px;
}

.home-btn-rec {
  display: flex;
  flex-direction: column;
  border: none;
  border-radius: 44px;
  padding: 16px 48px;
  margin: 0 12px;
  box-shadow: 3px 8px 4px 0 #ee0d4350;
  background-color: var(--main-red);
  color: var(--main-white);
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: -0.4px;
}
