.navbar {
  display: flex;
  margin: 0 auto;
  align-items: center;
  width: 100vw;
  height: 4.4rem;
  padding: 15px 7.5vw;
}

.nav-links {
  display: flex;
  margin-left: auto; /* 네비게이션 메뉴를 오른쪽으로 밀기 */
  align-items: center;
  position: relative;
}

.nav-recent,
.navbar-mylist {
  display: flex;
  width: 48px;
  min-height: 40px;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  padding: 7px 15px;
  margin-top: 4px;
}

.nav-recent:hover,
.navbar-mylist:hover {
  background-color: var(--hover-gray);
}

.nav-recent img {
  width: 32px;
}

.navbar-mylist img {
  width: 29px;
}

.nav-profile {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 48px;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: var(--color6);
  color: var(--main-white);
  font-weight: 500;
  font-size: 0.875rem;
  margin-left: 9px;
}

.nav-profile:hover {
  opacity: 0.9;
  cursor: pointer;
}

.navbarLogin {
  color: var(--main-white);
  text-decoration: none;
  padding: 10px 18px;
  background-color: var(--main-red);
  border-radius: 44px;
}

.navbarSupport {
  color: var(--main-black);
  text-decoration: none;
  padding: 10px 12px;
  font-weight: 500;
  margin-left: 15px;
}

.navbarLogin:hover {
  opacity: 80%;
}

.nav-logo img {
  height: 2rem;
  vertical-align: middle;
  margin-right: 0.5rem;
}

.nav-logo h1 {
  display: inline-block;
  font-family: "Hakgyoansim Samulham", "Noto Sans KR", sans-serif;
  font-size: 1.8rem;
  transform: translateY(3px);
  color: var(--color-primary);
}
