.register-page {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.register-form-left-side {
  width: 60%;
  border-radius: 0px 10px 10px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
}

.register-title {
  font-weight: bold;
  font-size: 2rem;
}

.register-right-side {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  background-color: rgba(var(--color-primary-rgb), 0.95);
  width: 40%;
  height: 100vh;
  padding-top: 40vh;
}

.register-description {
  margin-top: 1rem;
  font-size: 24px;
  font-weight: 700;
  color: var(--text-dark);
  line-height: 32px;
  letter-spacing: 0.2rem;
}

input {
  appearance: none;
}

.register-page-logo img {
  height: 2rem;
  vertical-align: middle;
  margin-right: 0.5rem;
}

.register-page-logo span {
  display: inline-block;
  font-family: "Hakgyoansim Samulham", "Noto Sans KR", sans-serif;
  font-size: 1.8rem;
  transform: translateY(3px);
  color: var(--text-dark);
}

@media (max-width: 768px) {
  .register-page {
    flex-direction: column;
    justify-content: flex-start;
    height: 100vh;
    padding-top: 3rem;
  }

  .register-right-side {
    display: none;
  }

  .register-page .mobile-logo {
    display: block;
  }
}
