.sidebar {
  width: 215px;
  height: 100%;
}

.sidebar-nav {
  backdrop-filter: blur(30px);
  box-shadow: 0px 0px 30px rgba(227, 228, 237, 0.37);
  border: 2px solid rgba(255, 255, 255, 0.18);
}

.sidebar-nav-title {
  border-radius: 0 0 10px 10px;
  background-color: var(--main-red);
  color: var(--main-white);
  font-size: 1.3em;
  font-weight: 500;
  line-height: 90px;
  text-align: center;
}

.sidebar-nav > div {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 200px);
  background-color: var(--main-black);
  text-align: center;
  align-items: center;
  border-radius: 10px 10px 0 0;
}

.sidebar-nav-img {
  width: 50px;
  padding-top: 10px;
  padding-bottom: 30px;
}

.sidebar-nav ul li ul {
  font-weight: 400;
  font-size: 1rem;
}

.sidebar-menu-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
  color: var(--secondary-gray);
}

.sidebar-menu-list li {
  line-height: 140%;
  font-weight: 500;
  font-size: 1.25rem;
}

.sidebar-menu-list li:hover {
  color: var(--main-white);
}

.sidebar-menu-list a {
  position: relative;
  display: inline-block;
}

.sidebar-menu-list a::after {
  height: 2px;
  background-color: var(--main-white);
  bottom: -2px;
  content: "";
  left: 0;
  position: absolute;
  transition: width 0.3s ease;
  width: 0;
}

.sidebar-menu-list a:hover::after,
.sidebar-menu-list a.active::after {
  width: 100%;
}

.sidebar-menu-list a.active {
  color: var(--main-white);
}
