* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Pretendard";
}

.login-page {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.login-form-left-side {
  width: 60%;
  border-radius: 0px 10px 10px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
}

.login-register {
  display: flex;
  margin-top: 0.9rem;
  gap: 0.25rem;
  color: var(--main-black);
  font-size: 0.95rem;
}

.login-register-link {
  cursor: pointer;
  color: var(--main-red);
  opacity: .95;
  text-decoration: none;
}

.login-register-link a {
  text-decoration: none;
  color: inherit;
}

.login-register-link a:hover {
  color: inherit;
}

.login-form-right-side {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  background: var(--main-red);
  width: 40%;
  height: 100vh;
  padding-top: 40vh;
}

.login-description {
  margin-top: 10px;
  font-size: 24px;
  font-weight: 700;
  color: var(--main-gray);
  line-height: 32px;
  letter-spacing: 0.2rem;
}

.login-page-text {
  font-weight: bold;
  font-size: 2rem;
}

input {
  appearance: none;
}
