.chatbot-button {
  position: fixed;
  right: 30px;
  bottom: 45px;
  width: 62px;
  height: 62px;
  background: linear-gradient(135deg, var(--color4) 0%, var(--color6) 100%);
  border: none;
  border-radius: 28px;
  cursor: pointer;
  transition: transform 0.14s ease;
}

.chatbot-button:hover {
  transform: scale(1.07);
}

.chatbot-button img {
  display: flex;
  margin: 0 auto;
  width: 25px;
}

.react-chatbot-kit-chat-container {
  position: fixed;
  right: 30px;
  bottom: 45px;
}

.chatbot-minimize-button {
  position: fixed;
  bottom: 512px;
  right: 35px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  z-index: 1;
  padding: 5px;
}
