.navbar {
    display: flex;
    margin: 0 auto;
    align-items: center;
    width: 85vw;
    background-color: white;
    padding: 20px 0;
    
}

.nav-links {
    display: flex;
    gap: 15px;
    margin-left: auto; /* 네비게이션 메뉴를 오른쪽으로 밀기 */
}

.navbarLogin {
    color: var(--main-white);
    text-decoration: none;
    padding: 10px 18px;
    background-color: var(--main-red);
    border-radius: 44px;
}

.navbarSupport {
    color: var(--main-black);
    text-decoration: none;
    padding: 10px 12px;
    font-weight: 500;
}

.navbarLogin:hover {
    opacity: 80%;
}