.profile-edit {
  width: calc(100% - 260px);
  margin-top: 40px;
}

.profile-edit h1 {
  font-weight: 800;
  font-size: 19px;
  margin-bottom: 24px;
}

.profile-edit-form {
    display: flex;
    flex-direction: column;
}

.profile-edit-contents {
  display: flex;
  margin-bottom: 24px;
  justify-content: space-between;
}

.profile-edit-img {
  display: flex;
  flex-direction: column;
  width: 33.3333333333%;
  text-align: center;
  align-items: center;
}

.profile-edit-upload {
  display: flex;
  position: relative;
  border-radius: 50%;
  width: 128px;
  height: 128px;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--main-gray);
  background-color: var(--main-black);
}

.profile-edit-upload img {
  height: 110%;
}

.profile-edit-info {
  display: flex;
  flex-direction: column;
  width: 66.6666666667%;
  justify-content: space-between;
  padding: 12px 0;
}

.profile-edit-info div {
    padding-bottom: 12px;
}
.profile-edit-btn-wrapper {
    display: flex;
    justify-content: left;
    padding-left: 100px;
}

.profile-edit-btn-wrapper button {
    width: 80%;
    height: 44px;
    cursor: pointer;
}