@font-face {
  font-family: "Pretendard";
  font-weight: 400;
  src: url(./fonts/PretendardVariable.ttf) format("truetype");
}

:root {
  --main-red: #f23a30;
  --main-white: #fff;
  --main-black: #424242;
  --main-gray: #eff0f2;
  --main-green: #4b9960;
  --secondary-yellow: #f2d378;
  --secondary-black: #000;
  --secondary-pink: #e6b3a4;

  --error-red: #ef4445;

  /* 임시 색상 팔레트 */
  --color1: #e69057;
  --color2: #e67757;
  --color3: #e65794;
  --color4: #e6a957;
  --color5: #e6b3a4;
}

/* ===== 리셋 구간 ===== */

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: normal;
  margin: 0;
}

p {
  margin: 0;
}

strong,
em {
  font-weight: inherit;
  font-style: normal;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

dl {
  margin: 0;
}
dd {
  margin: 0;
  display: inline;
}

figure {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

th {
  font-weight: normal;
}

address {
  font-style: inherit;
}

/* 스크린 리더 */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
